@model IEnumerable<Main_mvc.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    if (TempData["insert_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["insert_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    if (TempData["update_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["update_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


    if (TempData["delete_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["delete_message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.queryMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.queryMessage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.contactId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.contactId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.contactId })
            </td>
        </tr>
}
    </tbody>
</table>
